<form action="/todos" method="POST">
  <input type="text" placeholder="name" name="name">
  <button type="submit">Create</button>
</form>

{{!-- 重點: --}}
{{!-- 1. 在 HTML 的 <form> 裡，我們會用 action 屬性來定義表單資料發送的位置，這裡定義的是「用 POST 方法，把資料送給 /todos 位置」，這代表等下我們需要再新增一條 POST /todos 路由來接住這筆表單資料。 --}}
{{!-- 2. <input> 標籤的 name 屬性，這個 name 屬性很重要，它是 HTTP 傳輸時的資料名稱。這些資料會被放在 HTTP 的 request body 裡，進到 Express.js 以後打包成 req.body
物件，就能在後續流程中使用 --}}