<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Register</h1>
      {{!-- 這是 Handlebars 提供的一種固定寫法，只要看到大於符號 >，Handlebars 就會去 partials 資料夾下尋找符合名稱的樣板，可以用這種方式，把樣板也封裝成可重覆運用的模組。 --}}
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="form-group mt-3 mb-2">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="e.g. Kent Guo" value="{{name}}">
        </div>
        <div class="form-group mt-3 mb-2">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="example@email.com" value="{{email}}">
        </div>
        <div class="form-group mt-3 mb-2">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="{{password}}">
        </div>
        <div class="form-group mt-3 mb-2">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" value="{{confirmPassword}}">
        </div>
        <div class="register-btn text-center mt-3">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
      <p class="lead mt-4">
        Have an Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</div>